.aContainer,
.dContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
}

.aContainer {
  background-color: white !important;
}
.dContainer {
  background-color: black !important;
}

.dMain {
  background-color: black !important;
}

