.container,
.dContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  .my_dataviz {
    margin-top: -10vh;
  }
}

.container {
  background-color: white !important;
}
.dContainer {
  background-color: black !important;

  text {
    fill: white !important;
  }
}

.dMain {
  background-color: black !important;
  height: 100vh;
}
