.darkTheme {
  background-color: black !important;
  a {
    color: white !important;
  }
  .navbar-toggler {
    border-color: white !important;
  }
  .navbar-toggler-icon {
    background-color: white !important;
  }
}

.lightTheme {
  background-color: white !important;
  a {
    color: black !important;
  }
}
