<nav
  class="navbar navbar-expand-lg"
  [ngClass]="{
    'navbar-light bg-light': !darkTheme,
    'navbar-dark bg-dark': darkTheme
  }"
>
  <a class="navbar-brand">
    <img src="./assets/img/adinkra.png" alt="" /> Linguist</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          href="https://docs.google.com/spreadsheets/d/e/2PACX-1vS8XaQs_A3EmbjRwd0UpEHYhOONomEK7lWJMDv8co4FBep8NP2tHaGqx9K580G0r4guqDTMKlWCBajX/pubhtml"
          target="_blank"
          class="nav-link"
        >
          <strong>{{ rowCount }} translations</strong>
        </a>
      </li>
    </ul>
  </div>
</nav>
