.bg-light {
  background-color: white !important;
  a {
    color: black !important;
  }
}

.bg-dark {
  background-color: black !important;
  a {
    color: white !important;
  }
  img {
    border: 2px solid white;
    background: white;
  }
}

.navbar-brand {
  font-weight: 900;
  font-size: 1.5em;
  img {
    width: 2em;
  }
}
