<div class="main" [ngClass]="{ darkTheme: darkTheme, lightTheme: !darkTheme }">
  <app-navbar></app-navbar>

  <div class="section-1">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1 class="display-4">Welcome to Linguist</h1>
          <p class="lead">
            A
            <a href="Corvid-AI" target="_blank" href="https://corvid.ai"
              >Corvid-AI</a
            >
            Research Project
          </p>
          <hr class="my-4" />
          <p>
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Read More
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body collapse-card">
              <blockquote class="blockquote">
                <footer class="blockquote-footer mb-1">
                  Currently, only 13 languages of the estimated 1500 local
                  African languages in Africa are supported by Google translate.
                  This is mainly due to the lack of reliable, well documented
                  and insufficient annotated datasets on local African
                  languages.
                </footer>
                <p class="mb-0 small">
                  Project Nightingale is an open source project aimed at
                  providing a platform for gathering, documenting and annotating
                  textual data on local African languages.
                </p>
                <mark>Please contribute to make this a success.</mark>
              </blockquote>

              <hr class="my-4" />
              <a
                type="button"
                class="btn btn-link"
                href="https://github.com/corvid-ai/Project-Nightingale"
                target="_blank"
                >GitHub page</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="alert-section" *ngIf="showMessage">
        <div class="alert alert-success" role="alert" *ngIf="success">
          Thank you! Your data has successfully been submited
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="!success">
          Sorry, an error occured. Please try again.
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="form-row">
              <div class="form-group col">
                <label for="inputCity">English</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputCity"
                  name="english"
                  [(ngModel)]="data.English"
                />
              </div>
              <div class="form-group col-md-2">
                <label for="inputState">to</label>
                <select
                  id="inputState"
                  class="form-control"
                  [(ngModel)]="data.localLanguage"
                  name="localLanguage"
                >
                  <option selected disabled>Local Language</option>
                  <option value="Ashanti Twi">Ashanti Twi</option>
                  <option value="Akuapim Twi">Akuapim Twi</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="inputZip">*{{ data.localLanguage }}*</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputZip"
                  name="data.localLanguage"
                  [(ngModel)]="data.translation"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary" *ngIf="!spinner">
              Submit
            </button>

            <div class="spinner-border" role="status" *ngIf="spinner">
              <span class="sr-only">Loading...</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
