/* You can add global styles to this file, and also import other style files */
.dContainer {
  background-color: black !important;

  text {
    fill: white !important;
  }
}
.router-link-active {
  border-bottom: 1px solid red;
}
.my_dataviz {
  svg {
    max-width: 100% !important;
  }
}
